In [23]:
import pandas as pd
test_df = pd.read_csv('/Users/master/dev/PythonPr/crawler/kfa-crawler/test_result.csv')
test_df = test_df[['팀명', '정보']]
test_df

             팀명                                                 정보
0     AT완주클럽U15  창단일자\n주소\n전북 정읍시 정읍사로 508 (시기동)AT풋살아레나\n연락처\n0...
1   CRASSODONFC  창단일자\n20220127\n주소\n서울 관악구 조원로22길 8 (신림동, 성원빌라...
2         FC리틀슛  창단일자\n20070301\n주소\n부산 북구 화명대로94번길 45 (화명동, 화명...
3          FC목포  창단일자\n20091224\n주소\n전남 목포시 내화마을길 89 (대양동, 목포국제...
4          FC서울  창단일자\n19831222\n주소\n서울특별시 마포구 월드컵로 240 (성산동, 월...
5  FC서울U18서울오산고  창단일자\n20121227\n주소\n서울특별시 마포구 월드컵로 240 (성산동, F...
6          FC안양  창단일자\n20130202\n주소\n경기도 안양시 동안구 평촌대로 389 (비산동,...
7          FC증산  창단일자\n19970917\n주소\n경남 양산시 물금읍 물금로 9 (물금리) 더 스...
8          FC충주  창단일자\n20180101\n주소\n충북 충주시 대림로 85 (호암동, 충주종합운동...
9      LS축구아카데미  창단일자\n20200805\n주소\n대구 달서구 상화북로 189 (상인동) 신동빌딩...

In [29]:
pd.concat([test_df, pd.DataFrame({'팀명': ['새 팀'],'정보': ['새 정보']})])

             팀명                                                 정보
0     AT완주클럽U15  창단일자\n주소\n전북 정읍시 정읍사로 508 (시기동)AT풋살아레나\n연락처\n0...
1   CRASSODONFC  창단일자\n20220127\n주소\n서울 관악구 조원로22길 8 (신림동, 성원빌라...
2         FC리틀슛  창단일자\n20070301\n주소\n부산 북구 화명대로94번길 45 (화명동, 화명...
3          FC목포  창단일자\n20091224\n주소\n전남 목포시 내화마을길 89 (대양동, 목포국제...
4          FC서울  창단일자\n19831222\n주소\n서울특별시 마포구 월드컵로 240 (성산동, 월...
5  FC서울U18서울오산고  창단일자\n20121227\n주소\n서울특별시 마포구 월드컵로 240 (성산동, F...
6          FC안양  창단일자\n20130202\n주소\n경기도 안양시 동안구 평촌대로 389 (비산동,...
7          FC증산  창단일자\n19970917\n주소\n경남 양산시 물금읍 물금로 9 (물금리) 더 스...
8          FC충주  창단일자\n20180101\n주소\n충북 충주시 대림로 85 (호암동, 충주종합운동...
9      LS축구아카데미  창단일자\n20200805\n주소\n대구 달서구 상화북로 189 (상인동) 신동빌딩...
0           새 팀                                               새 정보

In [26]:
test_df

             팀명                                                 정보
0     AT완주클럽U15  창단일자\n주소\n전북 정읍시 정읍사로 508 (시기동)AT풋살아레나\n연락처\n0...
1   CRASSODONFC  창단일자\n20220127\n주소\n서울 관악구 조원로22길 8 (신림동, 성원빌라...
2         FC리틀슛  창단일자\n20070301\n주소\n부산 북구 화명대로94번길 45 (화명동, 화명...
3          FC목포  창단일자\n20091224\n주소\n전남 목포시 내화마을길 89 (대양동, 목포국제...
4          FC서울  창단일자\n19831222\n주소\n서울특별시 마포구 월드컵로 240 (성산동, 월...
5  FC서울U18서울오산고  창단일자\n20121227\n주소\n서울특별시 마포구 월드컵로 240 (성산동, F...
6          FC안양  창단일자\n20130202\n주소\n경기도 안양시 동안구 평촌대로 389 (비산동,...
7          FC증산  창단일자\n19970917\n주소\n경남 양산시 물금읍 물금로 9 (물금리) 더 스...
8          FC충주  창단일자\n20180101\n주소\n충북 충주시 대림로 85 (호암동, 충주종합운동...
9      LS축구아카데미  창단일자\n20200805\n주소\n대구 달서구 상화북로 189 (상인동) 신동빌딩...

In [39]:
a=21
if a%10==1:
    print('다음 버튼을 눌러야 할 때')
    print(f'다음 버튼을 몇번 눌러서 가야할 까?: {a//10}')
else: print('그냥 하던 대로 하면 됨')

다음 버튼을 눌러야 할 때
다음 버튼을 몇번 눌러서 가야할 까?: 2

In [3]:
11//10

1

In [11]:
page_num = 21

if page_num%10 == 0:
        button_number = 10
else: button_number = page_num%10+1

print(button_number)

2

In [ ]:
while n < next_page_count:
    for page_num

In [4]:
'''다음 페이지 몇번 누를지 선택'''
for page_num in range(1, 50): # 1부터 255까지
    if page_num == 1: pass
    else:
        next_page_count = (page_num-1)//10
        n=0
        while n < next_page_count:
            print(f'hi {n}')
            n += 1
print('페이지 다음 누르기')

hi 0
hi 0
hi 0
hi 0
hi 0
hi 0
hi 0
hi 0
hi 0
hi 0
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
hi 0
hi 1
hi 2
hi 3
페이지 다음 누르기

In [1]:
new_list = [1,2,3]
len(new_list)

3

In [6]:
validator=0
for i in range(0):
    validator += 1
    print(validator)